python-dotenv
groq
AppOpener
pywhatkit
beautifulsoup4
rich
requests
keyboard
cohere
googlesearch-python
selenium
webdriver-manager
mtranslate
pygame
edge-tts
PyQt5
pyautogui
pillow
pytrends
